h1,
h2,
p{
    margin: 0;
    padding: 0;
}
.header{
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
;
}
.header__middle{
flex-grow: 1;
}
.header__contacts{
align-items: end;
display: flex;
flex-direction: column;
}
.header__link{
text-decoration: none;
color: black;
}
.table{
margin-top: 50px;

table-layout: fixed;
border-collapse: collapse;
width: 100%;
text-align: center;

}
.main__table{
color: rgb(79, 156, 2);
border: 3px solid;
border-color:rgb(79, 156, 2); 
}
.header__social{
 color: rgb(79, 156, 2);
 text-decoration: none; 
}
.center{
    display: inline-block;


}
hr{
color: rgb(218, 218, 218);
border: 1px solid;    
}

.table2{
display: flex;
justify-content:center ;      
color: aliceblue;
background-color:rgb(79, 156, 2);
margin-top: 50px;
border-radius: 5px;
padding: 5px;
}
.table3{
margin-top: 50px;
display: flex;
justify-content: space-around;
}
.text1{
text-align: center;
}
td{
    border: 3px solid;
    border-color:rgb(79, 156, 2); 
}
body{
margin-left: 600px;
margin-right: 600px;
margin-top: 50px;
margin-bottom: 50px;
}

.form1{
float: left;
width: 345px;   
}
.form2{
float: right;
width: 345px;    
}
.button{
padding: 10px;
transition: all 500ms ease;
}
.button:hover{
background: white;
color: rgb(177, 252, 170);
box-shadow: inset 0 0 0 3px rgb(177, 252, 170);  
}
.about_me{    
word-break: break-all;
}
.form4{
margin: 0 auto; 
display: block;     
color: aliceblue;        
background: rgb(79, 156, 2);
margin-top: 50px;
border-radius: 5px;
padding: 5px;   
}
.form3{
width: 697px;
height: 100px;    
}